<div class="dashboard">
  <div class="dashboard-container">
    <div class="chart">
      <span class="chart-title">Nombre de candidats par poste</span>
      <canvas id="stackedBarChart"></canvas>
    </div>
    <div class="chartPie">
      <span class="chart-title">Nombre de candidats par année d'expérience</span>
      <canvas id="pieChart"></canvas>
    </div>
    <div class="chart">
      <span class="chart-title">Distribution des compétences</span>
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</div>

