<div class="navbar">
  <div class="headerdiv">
    <mat-toolbar class="header">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class = "side">
    <mat-drawer-container autosize>
      <mat-drawer #drawer opened="true" mode="side" class="sidebarre">
        <mat-nav-list>
          <mat-list-item>
            <button mat-button routerLink="/home" routerLinkActive="active-button"> <mat-icon>dashboard</mat-icon>
              Dashboard</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="/dataTable" routerLinkActive="active-button">
              <mat-icon>table_chart</mat-icon>Data table</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="/upload-file" routerLinkActive="active-button"> <mat-icon>refresh</mat-icon>
              Upload </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <div class = "router">
          <router-outlet ></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>